<%if @product != nil%>
<div class="cadastrar-produto">
<h1>Editing product</h1>

<%= render 'form' %>

</div>
<%= link_to 'Exibir', @product %> |
<%else%>
  <%= h flash[:notice]%>
  <br/><br/>
<%end%>
<span class="link-voltar"> <a HREF="javascript:history.back()">Cancelar</a> </span>
<br/>
<br/>
