<html>
  <head>
  </head>
  <body>
<div id="propaganda nao">  
</div>
<div class="slider">
  <div id="x_slider" style="font-size:62.5%; width:550px;">
  </div>
</div>
<div class="produtos-em-destaque">
  <strong><%= h flash[:notice]%> </strong>
</div>    
    <ul id="x_product_list">      
      <%= render 'product', :products => @products %>
    </ul>
 </body>  
</html>